/* You can add global styles to this file, and also import other style files */

.ant-table-tbody {
    overflow-y: scroll;
    height: 768px;
}

.ant-breadcrumb a {
    font-size: 18px;
    text-transform: uppercase;
  }